tensorflow==2.12.0
opencv-python==4.11.0.86
numpy==1.23.5
pandas==2.3.0
matplotlib==3.10.3
scikit-learn==1.7.0
xgboost==3.0.2
seaborn==0.13.2
vit-keras==0.1.2
transformers==4.52.4
sentence-transformers==4.1.0
langdetect==1.0.9
joblib==1.5.1
streamlit==1.35.0
opencv-python-headless
